/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*
.idea
.DS_Store
public/assets/themes/deepblack/scss/style.css
public/mix-manifest.json
public/css/app.css
public/js
public/assets/themes/deepblack/scss/style.min.css
bootstrap/cache/*.*
composer.lock
config/basic.php
config/basic.php
