@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800&family=Heebo:wght@400;500&family=Teko:wght@500;600;700&display=swap);
@import url(https://fonts.cdnfonts.com/css/impacted);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  background: #000;
  font-size: 14px;
  color: #f7f7f8;
}

.golden-text,
h1,
h2 {
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Teko", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  color: #f7f7f8;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  font-weight: normal;
}

h5 {
  font-size: 18px;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.btn:focus {
  box-shadow: 0 0 0 0 #000;
}

.gold-btn {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  border: none;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  width: 155px;
  height: 54px;
  border-radius: 100px;
  transition: 0.4s;
}
.gold-btn:hover {
  background: linear-gradient(45deg, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
}

.header-text {
  margin-bottom: 50px;
}
.header-text h5 {
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: inherit;
}
.header-text p {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}

.navbar {
  background: none;
  transition: 0.4s;
  padding: 10px 18px;
}
.navbar .navbar-brand {
  font-weight: 500;
  font-family: "Impacted", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 0;
  display: inline-block;
}
.navbar .nav-item {
  margin: 15px;
}
.navbar .nav-item .nav-link {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: inherit;
}
.navbar .nav-item .nav-link::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
  transition: 0.4s;
}
.navbar .nav-item .nav-link:hover::before, .navbar .nav-item .nav-link.active::before {
  width: 20px;
}
.navbar .navbar-text {
  display: flex;
}
.navbar .navbar-text .login-register {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.navbar .navbar-text .login-register img {
  margin-right: 10px;
}
.navbar .navbar-text .login-register h4 {
  margin-bottom: 0;
}
.navbar .navbar-text .notification-panel {
  position: relative;
}
.navbar .navbar-text .notification-panel:hover .notification-dropdown {
  display: block;
}
.navbar .navbar-text .notification-panel .dropdown-toggle {
  background: none;
  display: flex;
  align-items: center;
  padding: 7.5px;
  padding-bottom: 25px;
  border: none;
}
.navbar .navbar-text .notification-panel .dropdown-toggle::after {
  display: none;
}
.navbar .navbar-text .notification-panel .dropdown-toggle h4 {
  margin-bottom: 0;
}
.navbar .navbar-text .notification-panel .dropdown-box {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
.navbar .navbar-text .notification-panel .dropdown-box::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}
.navbar .navbar-text .notification-panel .dropdown-box::-webkit-scrollbar-track {
  background: #222;
  border-radius: 100px;
}
.navbar .navbar-text .notification-panel .dropdown-box::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
.navbar .navbar-text .notification-panel .dropdown-box::-webkit-scrollbar-thumb:hover {
  background: #bf953f;
}
.navbar .navbar-text .notification-panel .notification-dropdown {
  background: #222;
  width: 300px;
  height: 340px;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 6px;
  padding-left: 0;
  position: absolute;
  right: -50px;
  top: 53px;
  border-radius: 5px;
  display: none;
}
.navbar .navbar-text .notification-panel .notification-dropdown li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.navbar .navbar-text .notification-panel .notification-dropdown li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  padding: 10px 10px 15px 15px;
  display: flex;
  white-space: normal;
}
.navbar .navbar-text .notification-panel .notification-dropdown li a:active, .navbar .navbar-text .notification-panel .notification-dropdown li a:focus, .navbar .navbar-text .notification-panel .notification-dropdown li a:hover {
  background: none;
}
.navbar .navbar-text .notification-panel .notification-dropdown li a i {
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #bf953f;
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  font-size: 18px;
}
.navbar .navbar-text .notification-panel .notification-dropdown li a h4 {
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}
.navbar .navbar-text .notification-panel .notification-dropdown li a p {
  margin-bottom: 0;
  font-size: 14px;
}
.navbar .navbar-text .notification-panel .notification-dropdown .clear-all {
  background: #222;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  font-family: "Teko", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px 10px 6px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.navbar .navbar-text .user-panel .user-dropdown {
  width: 200px;
  height: auto;
  padding-bottom: 5px;
  right: -15px;
}
.navbar .navbar-text .user-panel .user-dropdown li a {
  padding: 5px 5px 10px 15px;
  display: block;
}
.navbar .navbar-text .user-panel .user-dropdown li a img {
  margin-right: 5px;
  width: 16px;
}
.navbar .navbar-text .user-panel .user-dropdown li a span {
  font-family: "Teko", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.navbar.active {
  background: #000;
}

.home-banner {
  height: 105vh;
  background: url(/images/Star_Universe_Earth_Moon_HD_Space_2880x1800.jpg?fe2a74f7dbfc5c280481e1528918ce05);
  background-size: cover;
  background-position: center top;
}
.home-banner .overlay {
  background: rgba(0, 0, 0, 0.8);
}
.home-banner h1 span {
  font-size: 111px;
  font-weight: 500;
  font-family: "Impacted", sans-serif;
  text-transform: uppercase;
}
.home-banner p {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0;
}

.feature-section {
  padding: 100px 0;
}
.feature-section .box {
  padding: 30px;
  background: #222;
  border-radius: 10px;
  text-align: center;
  border: 2px solid transparent;
}
.feature-section .box .img-box {
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
}
.feature-section .box .img-box img {
  width: 32px;
}
.feature-section .box h2 {
  margin-bottom: 0;
}
.feature-section .box .gold-btn {
  margin-top: 15px;
  height: 40px;
}
.feature-section .box:hover {
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}

.about-section {
  padding: 100px 0;
  overflow: hidden;
}
.about-section .img-box {
  position: relative;
  border-radius: 10px;
  padding: 15px 0;
}
.about-section .img-box img {
  border-radius: 10px;
}
.about-section .img-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -15px;
  background: #222;
  border-radius: 10px;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  z-index: -1;
}
.about-section .box {
  padding: 30px;
  background: #222;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}
.about-section .box .icon-box {
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  padding: 20px;
  margin-right: 15px;
}
.about-section .box h4 {
  margin-bottom: 0;
}
.about-section .box:hover {
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}

.choose-section {
  padding: 100px 0;
}
.choose-section .box {
  display: flex;
  background: #222;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid transparent;
}
.choose-section .box .img {
  margin-right: 15px;
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  text-align: center;
  padding: 28px;
  padding-top: 20px;
}
.choose-section .box .text p {
  margin-bottom: 0;
}
.choose-section .box:hover {
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}

.faq-section {
  padding: 100px 0;
}
.faq-section .accordion-item {
  background: #222;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.faq-section .accordion-button {
  background: #222;
  border-radius: 10px !important;
  padding: 20px 30px;
  font-size: 24px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: inherit;
}
.faq-section .accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
}
.faq-section .accordion-button::after {
  background-image: url(/images/chevron.png?472a944e5d3f96721b8dd7fda7b41054);
}
.faq-section .accordion-body {
  padding: 0 30px 20px 30px;
}
.faq-section .accordion-body p {
  margin-bottom: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.faq-section .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #222;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.pricing-section {
  padding: 100px 0;
}
.pricing-section .box {
  padding: 30px;
  background: #222;
  border-radius: 10px;
  border: 2px solid transparent;
  text-align: center;
  overflow: hidden;
}
.pricing-section .box h1 {
  color: #faaf3a;
  margin-bottom: 0;
}
.pricing-section .box div.bg {
  position: relative;
  width: 100%;
  height: 35px;
  border-radius: 100px;
  margin-bottom: 15px;
  padding-top: 6px;
}
.pricing-section .box div.bg .golden-text {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  z-index: 1;
  position: relative;
}
.pricing-section .box div.bg::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 100%;
  background: #000;
  right: 0;
  top: 0;
  border-radius: 100px;
  z-index: 0;
}
.pricing-section .box .amount {
  color: #faaf3a;
}
.pricing-section .box .gold-btn {
  margin-top: 15px;
  width: 145px;
  height: 45px;
}
.pricing-section .box:hover {
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}

.commission-section {
  padding: 100px 0;
}
.commission-section .box {
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 180px;
  height: 180px;
  margin: auto;
  position: relative;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 20px #000;
}
.commission-section .box h1 {
  margin-bottom: 0;
}
.commission-section .box::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  bottom: 0;
  right: -85%;
  margin: auto;
  background: url(/images/right-arrow2.png?0d0088eeafdb0df9ad6810dbdc50e3b8);
}
.commission-section .box3::after,
.commission-section .box6::after {
  width: 0;
}

.certification-section {
  padding: 100px 0;
}
.certification-section .img-box {
  position: relative;
  border-radius: 10px;
  padding: 15px 0;
}
.certification-section .img-box img {
  border-radius: 10px;
}
.certification-section .img-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -15px;
  background: #222;
  border-radius: 10px;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  z-index: -1;
}
.certification-section .box {
  display: flex;
  background: #222;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid transparent;
}
.certification-section .box .img {
  margin-right: 15px;
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  text-align: center;
  padding-top: 20px;
}
.certification-section .box .text p {
  margin-bottom: 0;
}
.certification-section .box:hover {
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}

.statistic-section {
  padding: 100px 0;
}
.statistic-section .box {
  padding: 30px;
  padding: 30px;
  background: #222;
  border-radius: 10px;
  text-align: center;
  border: 2px solid transparent;
}
.statistic-section .box .img-box {
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
}
.statistic-section .box .img-box img {
  width: 32px;
}
.statistic-section .box h2 {
  margin-bottom: 0;
}
.statistic-section .box .gold-btn {
  margin-top: 15px;
  height: 40px;
}
.statistic-section .box:hover {
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}

.testimonial-section {
  padding: 100px 0;
}
.testimonial-section .review-box {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: #222;
  border-radius: 10px;
  padding: 30px 30px;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
}
.testimonial-section .review-box .quote {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 24px;
}
.testimonial-section .review-box .img-box {
  width: 20%;
  border-radius: 100px;
  margin-right: 30px;
}
.testimonial-section .review-box .img-box img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.testimonial-section .review-box .text-box {
  width: 80%;
}
.testimonial-section .review-box .text-box h4 {
  margin: 10px 0 5px 0;
}
.testimonial-section .review-box .text-box span {
  margin-bottom: 15px;
  display: inline-block;
  line-height: 1.3;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.testimonial-section .review-box .text-box p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.investor-section {
  padding: 100px 0;
}
.investor-section .investor-box {
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: #222;
  border-radius: 10px;
  padding: 30px 30px;
  position: relative;
}
.investor-section .investor-box .img-box img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin: auto;
  margin-bottom: 15px;
}
.investor-section .investor-box h4 {
  margin: 10px 0 5px 0;
}
.investor-section .investor-box span {
  margin-bottom: 15px;
  display: inline-block;
  line-height: 1.3;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.investor-section .investor-box p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.how-it-works {
  padding: 100px 0;
}
.how-it-works .box {
  display: flex;
  background: #222;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid transparent;
  margin-right: 50px;
  margin-bottom: 100px;
  position: relative;
}
.how-it-works .box::before {
  content: "2";
  position: absolute;
  font-size: 18px;
  font-family: "Teko", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  color: #f7f7f8;
  right: -94px;
  padding: 17px;
  text-align: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  border-radius: 200px;
  box-shadow: inset 0 0 0px 10px #000;
  overflow: hidden;
}
.how-it-works .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 169px;
  height: 210px;
  right: -65px;
  top: 90px;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
}
.how-it-works .box .img {
  margin-right: 15px;
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}
.how-it-works .box .text p {
  margin-bottom: 0;
}
.how-it-works .box:hover {
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}
.how-it-works .box-1,
.how-it-works .box-3 {
  margin-left: 50px;
  margin-right: 0;
}
.how-it-works .box-1::before,
.how-it-works .box-3::before {
  content: "1";
  left: -94px;
}
.how-it-works .box-1::after,
.how-it-works .box-3::after {
  left: -65px;
}
.how-it-works .box-3::before {
  content: "3";
}
.how-it-works .box-4 {
  margin-bottom: 0;
}
.how-it-works .box-4::before {
  content: "4";
}
.how-it-works .box-4::after {
  width: 0;
}
.how-it-works .box-2,
.how-it-works .box-4 {
  justify-content: end;
  text-align: right;
}
.how-it-works .box-2 .img,
.how-it-works .box-4 .img {
  margin-right: 0;
  margin-left: 15px;
}

.calculation-section {
  padding: 100px 0;
}
.calculation-section .input-group {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.calculation-section .input-group .img {
  width: 52px;
  height: 56px;
  padding: 17px;
  background: #222;
  position: absolute;
  border-radius: 10px;
  left: 3px;
  top: 2px;
  z-index: 1;
}
.calculation-section .input-group .img img {
  width: 16px;
}
.calculation-section .input-group .form-select,
.calculation-section .input-group .form-control {
  height: 60px;
  border: 2px solid #222;
  border-left: 3px solid #222;
  border-radius: 10px !important;
  background: #222;
  color: #f7f7f8;
  font-size: 14px;
  padding: 18px;
  padding-left: 54px;
  z-index: 0;
}
.calculation-section .input-group .form-select::-moz-placeholder, .calculation-section .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.calculation-section .input-group .form-select::placeholder,
.calculation-section .input-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.calculation-section .input-group .form-select:focus,
.calculation-section .input-group .form-control:focus {
  background: #222;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0 #222;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  border-left: 3px solid transparent;
}
.calculation-section .input-group .form-select {
  text-transform: uppercase;
}
.calculation-section .input-group .form-select option {
  color: #222;
  text-transform: capitalize;
  padding: 20px !important;
  display: inline-block;
  transition: 0.4s;
}
.calculation-section .input-group .form-select option:hover {
  background: red;
}

.transaction-section {
  padding: 100px 0;
  overflow: hidden;
}
.transaction-section .transaction-content {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.transaction-section .transaction-content.active {
  opacity: 1;
  visibility: visible;
  display: flex;
}
.transaction-section .box {
  padding: 30px;
  padding: 30px;
  background: #222;
  border-radius: 10px;
  text-align: center;
  border: 2px solid transparent;
}
.transaction-section .box:hover {
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}
.transaction-section .box .img-box {
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  padding: 15px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.transaction-section .box .img-box img {
  width: 32px;
}
.transaction-section .box h2 {
  margin-bottom: 0;
}
.transaction-section .box h4 {
  text-transform: lowercase;
}
.transaction-section .button-group button {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  width: auto;
  padding: 0 20px;
  height: 45px;
  margin: 5px;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #bf953f;
  border-radius: 100px;
  font-size: inherit;
}
.transaction-section .button-group button:hover, .transaction-section .button-group button.active {
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  color: #000;
  -webkit-text-fill-color: #000;
}

.newsletter-section {
  padding: 50px 0;
}
.newsletter-section .input-group {
  border-radius: 100px;
  overflow: hidden;
  max-width: 600px;
  margin: auto;
}
.newsletter-section .input-group .form-control {
  border: 2px solid #fff;
  border-radius: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  color: #222;
  font-size: 14px;
  padding: 12px;
  padding-left: 18px;
  z-index: 0;
}
.newsletter-section .input-group .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
.newsletter-section .input-group .form-control::placeholder {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
.newsletter-section .input-group .form-control:focus {
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #222;
  background: linear-gradient(#fff, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}

.blog-section {
  padding: 100px 0;
}
.blog-section .blog-box {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
}
.blog-section .blog-box .img-box {
  height: 200px;
}
.blog-section .blog-box .img-box img {
  width: 100%;
  height: 100%;
}
.blog-section .blog-box .text-box {
  padding: 15px 20px 20px 20px;
}
.blog-section .blog-box .text-box p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}
.blog-section .blog-box .text-box .date {
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.partner-section {
  padding: 100px 0 200px 0;
}
.partner-section .partners {
  text-align: center;
}
.partner-section .partners img {
  width: 64px;
  margin: auto;
}

.footer .button-group .gold-btn {
  margin: 0 5px;
  height: 40px;
}
.footer .footer-box .navbar-brand {
  font-size: 25px;
  font-family: "Impacted", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
}
.footer .footer-box p,
.footer .footer-box span {
  color: #f7f7f8;
}
.footer .footer-box h4 {
  margin-top: 20px;
  margin-bottom: 25px;
}
.footer .footer-box ul {
  padding-left: 0;
  margin-bottom: 15px;
}
.footer .footer-box ul li {
  list-style: none;
  margin-bottom: 15px;
}
.footer .footer-box ul li a {
  color: #f7f7f8;
  text-transform: uppercase;
  font-size: 12px;
}
.footer .footer-box ul li img {
  margin-right: 10px;
}
.footer .footer-box ul li:last-child {
  margin-bottom: 0;
}
.footer .social-links {
  margin-top: 30px;
}
.footer .social-links a {
  margin-right: 10px;
}
.footer .social-links a img {
  margin-right: 15px;
}
.footer .social-links a i {
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #bf953f;
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.footer .copyright {
  padding: 20px 0;
}
.footer .copyright span,
.footer .copyright a,
.footer .copyright p {
  color: rgba(255, 255, 255, 0.8);
}
.footer .copyright a {
  margin-left: 10px;
  text-transform: capitalize;
}

.scroll-top {
  position: fixed;
  right: 45px;
  bottom: 45px;
}

#preloader {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: 1100;
}
#preloader .loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.page-banner {
  text-align: center;
  background: url(/images/wallpapersden.com_k-planet-earth_3840x21602.jpg?b62e6c9bad4d3282e64a7c27e48a73f1);
  background-size: cover;
  background-position: center left;
}
.page-banner .overlay {
  background: rgba(0, 0, 0, 0.8);
  padding: 150px 0 100px 0;
}
.page-banner h2 {
  font-size: 64px;
  font-weight: 500;
  font-family: "Impacted", sans-serif;
  text-transform: uppercase;
}

.login-section {
  padding-bottom: 100px;
}
.login-section .login-box {
  padding: 50px;
  max-width: 550px;
  margin: auto;
  background: #222;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
}
.login-section .login-box h4 {
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 18px;
  font-weight: 600;
}
.login-section .login-box h4 a {
  text-align: right;
  float: right;
  font-weight: 500;
}
.login-section .login-box .box {
  margin: auto;
  max-width: 500px;
}
.login-section .login-box .input-group {
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.login-section .login-box .input-group .img {
  width: 52px;
  height: 56px;
  padding: 17px;
  background: #000;
  position: absolute;
  border-radius: 10px;
  left: 3px;
  top: 2px;
  z-index: 1;
}
.login-section .login-box .input-group .img img {
  width: 16px;
}
.login-section .login-box .input-group .form-control {
  height: 60px;
  border: 2px solid #000;
  border-left: 3px solid #000;
  border-radius: 10px !important;
  background: #000;
  color: #f7f7f8;
  font-size: 14px;
  padding: 20px;
  padding-left: 54px;
  z-index: 0;
}
.login-section .login-box .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
}
.login-section .login-box .input-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
}
.login-section .login-box .input-group .form-control:focus {
  background: #000;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0 #000;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border-left: 3px solid transparent;
}
.login-section .login-box .input-group textarea.form-control {
  height: 180px;
  padding-top: 23px;
}
.login-section .login-box .bottom {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  text-align: left;
}
.login-section .login-box .bottom .form-check {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
.login-section .login-box .bottom .form-check .form-check-input {
  background: none;
  border-radius: 0;
  border: 2px solid #bf953f;
  cursor: pointer;
}
.login-section .login-box .bottom .form-check .form-check-input:focus {
  box-shadow: 0 0 0 0 #000;
}
.login-section .login-box .bottom .form-check .form-check-input:checked {
  background: #bf953f;
}
.login-section .login-box .bottom .form-check .form-check-label {
  cursor: pointer;
}
.login-section .login-box .bottom p {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
}
.login-section .login-box .bottom p a {
  font-weight: 600;
  font-family: "Teko", sans-serif;
  font-size: 16px;
}
.login-section .login-box p {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 400;
}
.login-section .login-box p a {
  font-weight: 600;
  font-family: "Teko", sans-serif;
  font-size: 16px;
}

.contact-section {
  padding-bottom: 100px;
}
.contact-section .box {
  display: flex;
}
.contact-section .box .img {
  margin-right: 15px;
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #222;
  width: 80px;
  height: 65px;
  text-align: center;
  padding-top: 20px;
  margin-right: 15px;
}
.contact-section .box .text p {
  margin-bottom: 0;
  text-transform: uppercase;
}
.contact-section .contact-box h4 {
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 18px;
  font-weight: 600;
}
.contact-section .contact-box .box {
  margin: auto;
  max-width: 500px;
}
.contact-section .contact-box .input-group {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.contact-section .contact-box .input-group .img {
  width: 52px;
  height: 56px;
  padding: 17px;
  background: #222;
  position: absolute;
  border-radius: 10px;
  left: 3px;
  top: 2px;
  z-index: 1;
}
.contact-section .contact-box .input-group .img img {
  width: 16px;
}
.contact-section .contact-box .input-group .form-control {
  height: 60px;
  border: 2px solid #222;
  border-left: 3px solid #222;
  border-radius: 10px !important;
  background: #222;
  color: #f7f7f8;
  font-size: 14px;
  padding: 20px;
  padding-left: 54px;
  z-index: 0;
}
.contact-section .contact-box .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.contact-section .contact-box .input-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.contact-section .contact-box .input-group .form-control:focus {
  background: #222;
  outline: 0;
  box-shadow: 0 0 0 0 #222;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  border-left: 3px solid transparent;
}
.contact-section .contact-box .input-group textarea.form-control {
  height: 180px;
  padding-top: 18px;
}
.contact-section .contact-box .bottom {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
}
.contact-section .contact-box .bottom p {
  text-transform: uppercase;
  color: #f7f7f8;
  margin-bottom: 0;
  font-size: 13px;
}
.contact-section .contact-box .bottom p a {
  font-weight: 600;
}

.blog-details {
  padding-bottom: 100px;
}
.blog-details .details-box {
  padding: 30px;
  border-radius: 10px;
  background: #222;
}
.blog-details .details-box .text-box p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}
.blog-details .details-box .text-box span {
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}
.blog-details .recent-post-box {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  background: #222;
}
.blog-details .recent-post-box .img-box {
  width: 200px;
  margin-right: 15px;
}
.blog-details .recent-post-box span {
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.make-deposit {
  overflow: hidden;
}
.make-deposit .box {
  padding: 30px;
  background: #222;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.make-deposit .box .img-box {
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  padding: 20px;
  margin-right: 15px;
}
.make-deposit .box h4 {
  margin-bottom: 0;
}
.make-deposit form {
  text-align: center;
}
.make-deposit form .input-group {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.make-deposit form .input-group .img {
  width: 56px;
  height: 56px;
  padding: 16px;
  background: #222;
  position: absolute;
  border-radius: 10px;
  left: 3px;
  top: 2px;
  z-index: 1;
}
.make-deposit form .input-group .form-control {
  height: 60px;
  border: 2px solid #222;
  border-left: 3px solid #222;
  border-radius: 10px !important;
  background: #222;
  color: #f7f7f8;
  font-size: 14px;
  padding: 20px;
  padding-left: 58px;
  z-index: 0;
}
.make-deposit form .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.make-deposit form .input-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.make-deposit form .input-group .form-control:focus {
  background: #222;
  outline: 0;
  box-shadow: 0 0 0 0 #222;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  border-left: 3px solid transparent;
}
.make-deposit form .input-group textarea.form-control {
  height: 180px;
  padding-top: 18px;
}
.make-deposit form .radio-box {
  text-align: center;
}
.make-deposit form .radio-box .btn-check + .btn-secondary {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #f7f7f8;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  width: auto;
  height: 40px;
  padding: 4px 16px;
  margin: 0 10px 10px 0;
  border-radius: 100px;
  position: relative;
  transition: 0.4s;
}
.make-deposit form .radio-box .btn-check + .btn-secondary .check {
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0;
}
.make-deposit form .radio-box .btn-check:checked + .btn-secondary {
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  border: 2px solid transparent;
  color: #000;
}
.make-deposit form .radio-box .btn-check:checked + .btn-secondary .check {
  opacity: 1;
}
.make-deposit form .radio-box .btn-check:focus + .btn-secondary,
.make-deposit form .radio-box .btn-secondary:focus {
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 0 0 rgba(49, 132, 253, 0.5);
}
.make-deposit form .gold-btn {
  width: 200px;
}
.make-deposit form .gold-btn img {
  margin-right: 10px;
}

.select-transaction .input-group {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.select-transaction .input-group .img {
  width: 52px;
  height: 56px;
  padding: 17px;
  background: #222;
  position: absolute;
  border-radius: 10px;
  left: 3px;
  top: 2px;
  z-index: 1;
}
.select-transaction .input-group .img img {
  width: 16px;
}
.select-transaction .input-group .form-select,
.select-transaction .input-group .form-control {
  height: 60px;
  border: 2px solid #222;
  border-left: 3px solid #222;
  border-radius: 10px !important;
  background: #222;
  color: #f7f7f8;
  font-size: 14px;
  padding: 18px;
  padding-left: 54px;
  z-index: 0;
}
.select-transaction .input-group .form-select::-moz-placeholder, .select-transaction .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.select-transaction .input-group .form-select::placeholder,
.select-transaction .input-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.select-transaction .input-group .form-select:focus,
.select-transaction .input-group .form-control:focus {
  background: #222;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0 #222;
  background: linear-gradient(#222, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  border-left: 3px solid transparent;
}
.select-transaction .input-group .form-select {
  text-transform: uppercase;
}
.select-transaction .input-group .form-select option {
  color: #222;
  text-transform: capitalize;
  padding: 20px !important;
  display: inline-block;
  transition: 0.4s;
}
.select-transaction .input-group .form-select option:hover {
  background: red;
}

.chart-information .progress-wrapper {
  background: #222;
  padding: 30px;
  border-radius: 10px;
  height: 100%;
  text-align: center;
}

.refferal-information .box {
  padding: 30px;
  background: #222;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.refferal-information .box .img-box {
  -webkit-clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
          clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
  background: #111;
  width: 80px;
  height: 65px;
  text-align: center;
  padding: 17px;
  margin-right: 15px;
}
.refferal-information .box .img-box img {
  width: 32px;
}
.refferal-information .box p {
  text-transform: uppercase;
}
.refferal-information .box .gold-btn {
  margin-top: 15px;
  height: 40px;
}

.transaction-history .table {
  color: #f7f7f8;
  margin-bottom: 0;
}
.transaction-history .table tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #222;
  color: #f7f7f8;
}
.transaction-history .table thead {
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  color: #000;
  text-transform: uppercase;
}
.transaction-history .table tbody {
  border: none;
}
.transaction-history .table tr {
  border: none;
}
.transaction-history .table tr th {
  font-weight: 500;
  border: none !important;
  padding: 12px 30px;
}
.transaction-history .table tr td {
  padding: 15px 30px;
  border: none !important;
  text-transform: capitalize;
}

.pagination .page-item {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 1px solid transparent;
  transition: 0.4s;
}
.pagination .page-item .page-link {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #fcf6ba;
  background: none;
  border: none;
  border-radius: 0;
  transition: 0.4s;
  font-size: inherit;
}
.pagination .page-item .page-link:focus {
  box-shadow: 0 0 0 0 #000;
}
.pagination .page-item:hover a, .pagination .page-item.active a {
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  color: #000;
}
.pagination .page-item.disabled a {
  background: none;
  color: #fcf6ba;
}

.profile-setting .upload-img {
  background: #222;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}
.profile-setting .upload-img form {
  position: relative;
}
.profile-setting .upload-img form .img-box {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  position: relative;
}
.profile-setting .upload-img form .img-box img {
  width: 100%;
  height: 100%;
}
.profile-setting .upload-img form .img-box .select-file {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 100px;
  text-align: center;
  padding-top: 40px;
  text-transform: uppercase;
  border: 2px dashed #000;
}
.profile-setting .upload-img form .img-box input {
  position: absolute;
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
}
.profile-setting .upload-img form .gold-btn {
  height: 40px;
  width: 100%;
}
.profile-setting .edit-area {
  background: #222;
  border-radius: 10px;
  padding: 30px;
}
.profile-setting .edit-area .content {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.profile-setting .edit-area .content.active {
  opacity: 1;
  visibility: visible;
  display: block;
}
.profile-setting .edit-area .profile-navigator {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.profile-setting .edit-area .profile-navigator button {
  height: 40px;
  width: auto;
  margin: 0 10px 10px 0;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
  border: 2px solid transparent;
  transition: 0.4s;
}
.profile-setting .edit-area .profile-navigator button:hover, .profile-setting .edit-area .profile-navigator button.active {
  border: 2px solid #bf953f;
}
.profile-setting .edit-area form label {
  margin-bottom: 5px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}
.profile-setting .edit-area form .form-select,
.profile-setting .edit-area form .form-control {
  height: 50px;
  border: 2px solid #111;
  border-left: 3px solid #111;
  border-radius: 5px !important;
  background: #111;
  color: #f7f7f8;
  font-size: 14px;
  padding: 15px;
  z-index: 0;
}
.profile-setting .edit-area form .form-select::-moz-placeholder, .profile-setting .edit-area form .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.profile-setting .edit-area form .form-select::placeholder,
.profile-setting .edit-area form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.profile-setting .edit-area form .form-select:focus,
.profile-setting .edit-area form .form-control:focus {
  background: #111;
  outline: 0;
  box-shadow: 0 0 0 0 #111;
  background: linear-gradient(#111, #000) padding-box, linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c) border-box;
  border: 2px solid transparent;
  border-left: 3px solid transparent;
}
.profile-setting .edit-area form .form-select option {
  color: #222;
  text-transform: capitalize;
  padding: 20px !important;
  display: inline-block;
  transition: 0.4s;
}
.profile-setting .edit-area form .form-select option:hover {
  background: red;
}
.profile-setting .edit-area form textarea.form-control {
  height: 180px;
  padding-top: 18px;
}
.profile-setting .edit-area form .gold-btn {
  width: 100%;
  height: 45px;
}
.profile-setting .edit-area .alert {
  background: #111;
  border-radius: 10px;
}
.profile-setting .edit-area .alert img {
  margin-right: 10px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.wrapper #sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #222;
  border-right: 1px solid #000;
  transition: all 0.4s;
}
.wrapper #sidebar.active {
  margin-left: -300px;
}
.wrapper #sidebar .navbar-brand {
  font-weight: 500;
  font-family: "Impacted", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  display: inline-block;
  width: auto;
  height: 90px;
  text-align: left;
  margin: 0 auto;
  padding: 23px 0 23px 30px;
}
.wrapper #sidebar .btn-toggle {
  color: #fff;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  padding: 15px 30px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: inherit;
}
.wrapper #sidebar .btn-toggle img {
  margin-right: 10px;
}
.wrapper #sidebar #dashboard-collapse ul li a {
  padding: 10px 30px 10px 69px;
}
.wrapper #sidebar ul {
  padding-left: 0;
}
.wrapper #sidebar ul li {
  text-transform: uppercase;
  list-style: none;
  border-top: 1px solid #111;
  transition: 0.4s;
}
.wrapper #sidebar ul li:last-child {
  border-bottom: 1px #111;
}
.wrapper #sidebar ul li:hover, .wrapper #sidebar ul li.active {
  background: #000;
}
.wrapper #sidebar ul li a {
  display: inline-block;
  padding: 15px 30px;
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(135deg, #b38728, #fcf6ba, #bf953f, #fbf5b7, #aa771c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: inherit;
}
.wrapper #sidebar ul li a img {
  margin-right: 10px;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: relative;
  background: url(/images/Star_Universe_Earth_Moon_HD_Space_2880x1800.jpg?fe2a74f7dbfc5c280481e1528918ce05);
  background-size: cover;
  background-position: center;
}
#content .overlay {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: relative;
}
#content .navbar {
  position: absolute;
  background: #222;
}
#content .navbar .navbar-brand {
  display: none;
}
#content .navbar .sidebar-toggler {
  background: none;
  border: none;
}
#content .navbar .sidebar-toggler img {
  padding: 19px 0;
}

.password-toggle {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.password-toggle .show {
  display: block;
}
.password-toggle .hide {
  display: none;
}

@media (max-width: 991px) {
  .navbar {
    padding: 10px;
    background: #000;
  }
  .navbar .navbar-brand {
    width: auto;
  }
  .navbar .navbar-nav {
    text-align: center;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 0 5px 0;
  }
  .navbar .navbar-text {
    position: absolute;
    display: flex;
    top: 7px;
    right: 65px;
  }
  .navbar .navbar-text .login-register {
    margin-left: 15px;
  }
  .navbar .navbar-text .login-register .golden-text {
    display: none;
  }
  .navbar .navbar-text .notification-panel .dropdown-toggle .golden-text {
    display: none;
  }
  .navbar .navbar-text .notification-panel .dropdown-toggle img {
    margin-right: 0;
    padding-top: 4px;
  }
  .how-it-works .box {
    margin: 0;
    margin-bottom: 25px;
  }
  .how-it-works .box::after {
    display: none;
  }
  .how-it-works .box::before {
    display: none;
  }
  .commission-section .box2::after,
  .commission-section .box4::after,
  .commission-section .box6::after {
    width: 0;
  }
  .commission-section .box3::after {
    width: 64px;
  }
  .commission-section .box::after {
    right: -72%;
  }
  #content .navbar .navbar-text {
    top: 14px;
    right: 15px;
  }
}
@media (max-width: 767px) {
  .home-banner h1 span {
    font-size: 80px;
  }
  .blog-details .details-box {
    padding: 15px;
  }
  .commission-section .box::after {
    width: 0;
  }
  .transaction-section .button-group .gold-btn {
    margin-bottom: 10px;
  }
  .transaction-section .button-group .gold-btn:last-child {
    margin-bottom: 0;
  }
  .footer .copyright .language {
    margin-top: 10px;
  }
  .footer .copyright .language a {
    margin-left: 0;
    margin-right: 5px;
  }
  .wrapper #sidebar {
    margin-left: -300px;
  }
  .wrapper #sidebar.active {
    margin-left: 0;
  }
  #content {
    padding: 0 0 50px 0;
  }
  #content .overlay {
    padding: 20px 0;
  }
  .profile-setting .edit-area,
  .profile-setting .upload-img {
    padding: 15px;
  }
  .login-section .login-box {
    padding: 30px;
  }
}
@media (max-width: 575px) {
  .wrapper #sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-left: -250px;
  }
  .wrapper #sidebar.active {
    margin-left: 0;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1200px;
  }
}
